{% extends 'base.html' %}

{% block pagename %}Registration{% endblock %}
{% block title1 %}{% endblock %}
{% block title2 %}{% endblock %}

{% block content %}

    <!--Form without header-->
    <div class="card">
        <div class="card-block">

            <!--Header-->
                <div class="text-center">
                    <h3><i class="fa fa-user"></i> Register:</h3>
                    <hr class="mt-2 mb-2">
                </div>

            <!--Body-->

                <form method="post" action="/register/">
                {% csrf_token %}

                <div class="md-form">
                    <i class="fa fa-user prefix"></i>
                    <input type="text" id="form2" name="username" class="form-control">
                    <label for="form2">Your username</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input type="text" id="form2" name="email" class="form-control">
                    <label for="form2">Your email</label>
                </div>

                <div class="md-form">
                    <i class="fa fa-lock prefix"></i>
                    <input type="password" id="form4" name="password" class="form-control">
                    <label for="form4">Your password</label>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-deep-purple">Sign up</button>
                </div>

                </form>

                {% if username_taken %}
                    <div class="text-center">
                        <p>Username allready taken</p>
                    </div>
                {% endif %}

                </div>

        <!--Footer-->
        <div class="modal-footer">
            <div class="options">
                <p>Already a member? <a href="/login">Log in</a></p>
            </div>
        </div>

    </div>
    <!--/Form without header-->

{% endblock %}
