{% extends 'base.html' %}

{% block navbar_color %}transparent{% endblock %}

{% block content_about %}

    <!--Mask-->
    <div class="view hm-black-light">
        <div class="full-bg-img flex-center">
            <ul>
                <li>
                    <h1 class="h1-responsive wow fadeInDown" data-wow-delay="0.2s">Pineapple</h1></li>
                <li>
                    <p class="wow fadeInDown">Learn different.</p>
                </li>
                <li>
                    <a target="" href="/overview/" class="btn btn-success btn-lg wow fadeInLeft" data-wow-delay="0.2s">Log in!</a>
                    <a target="" href="/register/" class="btn btn-primary btn-lg wow fadeInRight" data-wow-delay="0.2s">Register</a>
                </li>
            </ul>
        </div>
    </div>
    <!--/.Mask-->


    <!-- Main container-->
    <div class="container">

        <div class="divider-new">
            <h2 class="h2-responsive wow bounceIn" id="about">About Pineapple</h2>
        </div>

        <!--Section: About-->
        <section id="about" class="text-center wow bounceIn" data-wow-delay="0.2s">

            <p>
                Pineapple is a learning tool, designed to be used on the institution level. It's goal is to improve
                awareness and understanding of where learning difficulties are located and offer help where needed.
            </p>
            <p>
                With Pineapple students will gain the ability to anonymously compare their progress with the rest of
                the class. The adaptive exercise and reading material system make sure that improvement comes easily
                where it is needed most.
            </p>
            <p>
                At the same time, lecturers are proveded with both information and tools to help steer focus to specific
                topics as the class progresses. Do you teach a new course? No problem, with Pineapple you can adjust and
                fix issues on the fly. Maintaining an established course? Perfect, fine-tuning has never been easier.
            </p>

        </section>
        <!--Section: About-->

        <div class="divider-new">
            <h2 class="h2-responsive wow fadeInDown">Our Pineapple Team</h2>
        </div>

        <!--Section: Best features-->
        <section id="best-features">

            <div class="row">

                <!--First columnn-->
                <div class="col-lg-3">
                    <!--Card-->
                    <div class="card wow fadeInUp">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="../static/img/Bilder/1.jpg" class="img-fluid" alt="">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block text-center">
                            <!--Title-->
                            <h4 class="card-title">Richard Bachmann</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Lead Programmer</p>
                            <p class="card-text">Datateknologi 2. klasse</p>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <!--First columnn-->

                <!--Second columnn-->
                <div class="col-lg-3">
                    <!--Card-->
                    <div class="card wow fadeInUp" data-wow-delay="0.2s">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="../static/img/Bilder/2.jpg" class="img-fluid" alt="">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block text-center">
                            <!--Title-->
                            <h4 class="card-title">Andreas Moan</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Team leader</p>
                            <p class="card-text">Indøk data 2. klasse</p>
                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <!--Second columnn-->

                <!--Third columnn-->
                <div class="col-lg-3">
                    <!--Card-->
                    <div class="card wow fadeInUp" data-wow-delay="0.4s">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="../static/img/Bilder/3.jpg" class="img-fluid" alt="">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block text-center">
                            <!--Title-->
                            <h4 class="card-title">Michael Hoyer</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Developer</p>
                            <p class="card-text">I&IKT 2. klasse</p>                        </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <!--Third columnn-->

                <!--First columnn-->
                <div class="col-lg-3">
                    <!--Card-->
                    <div class="card wow fadeInUp" data-wow-delay="0.6s">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="../static/img/Bilder/4.jpg" class="img-fluid" alt="">
                            <a>
                                <div class="mask"></div>
                            </a>
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-block text-center">
                            <!--Title-->
                            <h4 class="card-title">Jakob Erikstad</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Developer</p>
                            <p class="card-text">Indøk data 2. klasse</p>                       </div>
                        <!--/.Card content-->

                    </div>
                    <!--/.Card-->
                </div>
                <!--First columnn-->
            </div>

        </section>
        <!--/Section: Best features-->

        <div class="divider-new">
            <h2 class="h2-responsive wow fadeInUp">Contact us</h2>
        </div>

        <!--Section: Contact-->
        <section id="contact">
            <div class="row">
                <!--First column-->
                <div class="col-md-8">
                    <div id="map-container" class="z-depth-1 wow fadeInUp" style="height: 300px"></div>
                </div>
                <!--/First column-->

                <!--Second column-->
                <div class="col-md-4">
                    <ul class="text-center">
                        <li class="wow fadeInUp" data-wow-delay="0.2s"><i class="fa fa-map-marker teal-text"></i>
                            <p>Gløshaugen, Trondheim</p>
                        </li>

                        <li class="wow fadeInUp" data-wow-delay="0.3s"><i class="fa fa-phone teal-text"></i>
                            <p>+47 478 73 139</p>
                        </li>

                        <li class="wow fadeInUp" data-wow-delay="0.4s"><i class="fa fa-envelope teal-text"></i>
                            <p>abakkem@gmail.com</p>
                        </li>
                    </ul>
                </div>
                <!--/Second column-->
            </div>
        </section>
        <!--Section: Contact-->

    </div>
    <hr>
    <!--/ Main container-->

{% endblock %}