{% extends "base.html" %}

{% block title %}Exercise{% endblock %}

{% block content %}

    <h3>{{ que_pk }}</h3>
    <p>{{ que_que }}</p>
    {% if form %}

    <form action="" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        <button name="submit" class="btn btn-primary btn-lg" value={{ que_pk }}>Check</button>
    </form>
    {% else %}
        <button type="button" id="next" class="btn btn-primary btn-lg" onClick="window.location.reload()">Next</button>
    {% endif %}

    {% if correct %}
        <p>The answer was correct</p>
    {% elif wrong %}
        <p>The answer was wrong</p>
    {% else %}
        <p></p>
    {% endif %}

{% endblock %}

<script type="text/javascript">
    document.getElementById("next").onclick = function () {
        location.href = "/";
    };
</script>
