{% extends "base.html" %}

{% block title %}CourseCode{% endblock %}
{% block p_heading %}CourseCode{% endblock %}
{% block p_2heading %}CourseName{% endblock %}

{% block content %}


    <!-- Exercise pluss chart row -->
    <div class="container">
        <div class="row">
            <!-- Exercise card -->
                <div class="col-7">
                    <!--Card-->
                    <div class="card wow fadeInUp">
                        <!--Card content-->
                        <div class="card-block text-center">
                            <!--Button-->
                            <button type="button" class="btn btn-primary btn-lg btn-block">ExerciseNr</button>
                            <!--Title-->
                            <hr>
                            <!--Text-->
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur </p>
                        </div>
                        <!--/.Card content-->
                    </div>
                    <!--/.Card-->
                </div>

                    <div class="col-3 offset-1" >
                        <!--Card-->
                        <div class="card wow fadeInUp">
                            <!--Card content-->
                            <div class="card-block text-center">
                                <!--Button-->
                                <button type="button" class="btn btn-primary btn-lg btn-block">ExerciseNr</button>
                                <!--Title-->
                                <h4 class="card-title">Card title</h4>
                                <hr>
                                <!--Text-->
                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur </p>
                            </div>
                            <!--/.Card content-->
                        </div>
                        <!--/.Card-->
                    </div>


        </div>
    </div>
    <!-- End: Exercise pluss chart row -->
{% endblock %}
