{% extends "base.html" %}

{% block pagename %}{{ course }}{% endblock %}

{% block title1 %}{{ course }}: {% endblock %}

{% block title2 %}{{ course_full }}{% endblock %}

{% block content %}
{% csrf_token %}

    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <canvas id="lect_ex_chart" style="margin: 20px">
            </canvas>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <canvas id="lect_tag_chart" style="margin: 20px"></canvas>
        </div>
    </div>

    <hr>

    <div class="container">
        <!-- Exercise card -->
        {% for each in exercises %}
            <div class="row align-items-start" style="margin-top: 30px; margin-bottom: 30px">
                <div class="col-6" >
                    <!--Card-->
                    <div class="card wow fadeInUp">
                        <!--Card content-->
                        <div class="card-block text-center" style="height: 200px">
                            <!--Title-->
                            <h4 class="card-title">{{ each.title }}</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur </p>
                            <!--Button-->
                            <form action="" method="post">
                                {% csrf_token %}
                                <button name="exercise_select"  class="btn btn-primary btn-lg btn-block"  value="{{ each.id }}" >Go to Exercise!</button>
                            </form>
                        </div>
                        <!--/.Card content-->
                    </div>
                </div>
                <div class="col-4 offset-1" >
                    <!-- Pie-chart for completion -->
                    <div style="height: 200px; width: 200px;">
                        <canvas id="{{ each }}+canvas" ></canvas>
                    </div>
                         <script type="text/javascript" src="/static/js/lecturer_graph.js"></script>
                         <script type="text/javascript">
                            genCardPie.genGraph("{{ each }}+canvas", {{ ex_graph_data.1 }}[{{ forloop.counter0 }}]);
                         </script>
                </div>
            </div>
            <hr>
            <!--/.Card-->
        {% endfor %}
    </div>

    <!-- Add new cards -->
    <div class="container" id="lect_new_things">
            <div class="row align-items-start" style="margin-top: 30px; margin-bottom: 30px">
                <!-- Add exercise-->
                <div class="col-6" >
                    <div class="card wow fadeInUp">
                        <!--Card content-->
                        <div class="card-block text-center">
                            <!--Title-->
                            <h4 class="card-title">New exercise</h4>
                            <hr>
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ exercise_form }}
                                <br>
                                <button type="submit" name="new_exercise" class="btn btn-secondary btn-lg btn-block" value="new_exercise" >
                                    Add</button>
                            </form>
                            {% if added_exercise %}
                                <p>Exercise added</p>
                            {% endif %}
                        </div>
                        <!--/.Card content-->
                    </div>
                </div>
                <!-- Add question -->
                <div class="col-6" >
                    <!--Card-->
                    <div class="card wow fadeInUp">
                        <!--Card content-->
                        <div class="card-block text-center">
                            <!--Title-->
                            <h4 class="card-title">New Question</h4>
                            <hr>
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ question_form }}
                                <br>
                                <button type="submit" name="new_question" class="btn btn-secondary btn-lg btn-block" value="new_question" >
                                    Add</button>
                            </form>
                            {% if added_question%}
                                <p>Question added</p>
                            {% endif %}
                        </div>
                        <!--/.Card content-->
                    </div>
                </div>
            </div>
    </div>
    <!--/. Add new cards -->

    <!-- End: Exercise pluss chart row -->
    <!-- Charts js-->
     <script type="text/javascript" src="/static/js/lecturer_graph.js"></script>
     <script type="text/javascript">
        genLectEx.genGraph({% autoescape off %}{{ ex_graph_data.0 }} {% endautoescape %}, {{ ex_graph_data.1}} );
        genLectTag.genGraph({% autoescape off %}{{ tag_graph_data.0 }} {% endautoescape %}, {{ tag_graph_data.1}});
     </script>
    <!-- If a new exercise or question was created, scroll down -->
    <script type="text/javascript">
        if ("{{ target_pos }}".length != 0) {
            element = document.getElementById("{{ target_pos }}");
            alignWithTop = true;
            element.scrollIntoView(alignWithTop);
        }
    </script>
{% endblock %}
