{% extends "base.html" %}

{% block pagename %}Fagkode{%  endblock %}

{% block p_heading %}Fagnavn{%  endblock %}

{% block p_2heading %}Fagkode{%  endblock %}

{% block title %}{{ course }}{% endblock %}

{% block content %}


    <!-- Exercise pluss chart row -->
    <div class="container">
        <div class="row">
            <!-- Exercise card -->
            <div class="col-4 offset-1" >
                {% for each in exercises %}
                    <!--Card-->
                    <div class="card wow fadeInUp">
                        <!--Card content-->
                        <div class="card-block text-center">
                            <!--Title-->
                            <h4 class="card-title">{{ each }}</h4>
                            <hr>
                            <!--Text-->
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur </p>
                            <!--Button-->
                            <form action="" method="post">
                                {% csrf_token %}
                                <button type="button" class="btn btn-primary btn-lg btn-block" name="exercise-select" value={{ each }} >Go to Exercise!</button>
                            </form>
                        </div>
                        <!--/.Card content-->
                    </div>
                    <!--/.Card-->
                {% endfor %}
            </div>


        </div>
    </div>
    <!-- End: Exercise pluss chart row -->
{% endblock %}
