{% extends "base.html" %}

{% block pagename %}Fagkode{%  endblock %}

{% block p_heading %}Fagnavn{%  endblock %}

{% block p_2heading %}Fagkode{%  endblock %}

{% block title %}{{ course }}{% endblock %}

{% block content %}
    <!-- Exercise pluss chart row -->
    <div class="row">
        {% for each in exercises %}
            <div class="card col-lg-3 col-md-6 col-sm-12" style="
                padding-left: 0;
                padding-right: 0;
                margin-left: 10px;
                margin-right: 10px">
                <!--Card image-->
                <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
                <!--/.Card image-->
                <!--Card content-->
                <div class="card-block">
                    <!--Title-->
                    <h4 class="card-title">{{ each }}</h4>
                    <!--Text-->
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur </p>
                    <form action="" method="post">
                        {% csrf_token %}
                        <button name='exercise-select' class="btn btn-success" value="{{ each|cut:" " }}">Go To Exercise!</button>
                    </form>
                </div>
            </div>
            <!--/.Card content-->
        {% endfor %}
    </div>
    <!-- End: Exercise pluss chart row -->

    <!-- Generate exercise button -->
    <hr>
    <form action="" method="post">
    {% csrf_token %}
        <div class="text-center">
            <button name="generate_exercise" class="btn btn-secondary" value="generate_exercise">Genereate exercise</button>
        </div>
    </form>

{% endblock %}
