{% extends "base.html" %}

{% block pagename %}{{ course }}{%  endblock %}

{% block title1 %}{{ course }}: {% endblock %}

{% block title2 %}{{ course_full }}{% endblock %}

{% block content %}

    {% if exercise_done %}

        <style>
            /* The alert message box */
            .alert {
            padding: 20px;
            background-color: #3399ff; /* Blue */
            color: white;
            margin-bottom: 15px;
            }

            /* The close button */
            .closebtn {
            margin-left: 15px;
            color: white;
            font-weight: bold;
            float: right;
            font-size: 22px;
            line-height: 20px;
            cursor: pointer;
            transition: 0.3s;
            }

            /* When moving the mouse over the close button */
            .closebtn:hover {
            color: black;
            }
        </style>

        <!-- Alert message box -->
        <div class="container">
            <div class="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                <div class="text-center">The exercise is done.</div>
            </div>
        </div>

    {% endif %}


    <!-- Stats -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card " style="height: 600px;
                    padding: 10px;
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-bottom: 20px">
                    <h4 class="card-title">Your performance:</h4>
                        <hr>
                    <canvas id="stud_ex_chart" style="margin-top: 10px; margin-bottom: 10px"></canvas>
                    <canvas id="stud_tag_chart" style="margin-top: 10px; margin-bottom: 10px"></canvas>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="card" style="
                    height: 600px;
                    padding-left: 0;
                    padding-right: 0;
                    margin-left: 10px;
                    margin-right: 10px;
                    margin-bottom: 20px">
                    <div class="card-block">
                        <!--Title-->
                        <h4 class="card-title">Reading recommendations:</h4>
                             <hr>
                        <!--Text-->
                        {% for recommendation in rec_list %}
                            <a href="{{ recommendation.1 }}" target="_blank">{{ recommendation.0 }}</a>
                            <p></p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>
    <div class="h3-responsive" style="margin-bottom: 20px">Exercises</div>
    <!-- Exercise pluss chart row -->
    <div class="container" id="exercises" style="margin: 50px">
        <div class="row">
            {% for entry in exercises %}
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <div class="card" style="
                        padding-left: 0;
                        padding-right: 0;
                        margin-left: 10px;
                        margin-right: 10px">
                        <!--Card image-->
                        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20%282%29.jpg" alt="Card image cap">
                        <!--/.Card image-->
                        <!--Card content-->
                        <div class="card-block">
                            <!--Title-->
                            <h4 class="card-title">{{ entry.0.title }}</h4>
                            <!--Text-->
                            <p class="card-text">{{ entry.0.contains.count }} questions </p>
                            <p class="card-text">{{ entry.1 }} points </p>
                            <form action="" method="post">
                                {% csrf_token %}
                                <button name='exercise_select' class="btn btn-success" value="{{ entry.0.id }}">Go To Exercise!</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!--/.Card content-->
            {% endfor %}
        </div>
    </div>
    <!-- Charts js-->
     <script type="text/javascript" src="/static/js/student_graph.js"></script>
     <script type="text/javascript">
        genStudEx.genGraph({% autoescape off %}{{ ex_graph_data.0 }} {% endautoescape %}, {{ ex_graph_data.1}}, {{ ex_graph_data.2 }} );
        genStudTag.genGraph({% autoescape off %}{{ tag_graph_data.0 }} {% endautoescape %}, {{ tag_graph_data.1}}, {{ tag_graph_data.2 }});
     </script>

    <!-- Generate exercise button -->
    <form action="" method="post">
    {% csrf_token %}
        <div class="text-center" style="margin-bottom: 50px">
            <button name="generate_exercise" class="btn btn-primary" value="generate_exercise">Genereate new exercise</button>
        </div>
    </form>

    <!-- If a new exercise or question was created, scroll down -->
    <script type="text/javascript">
        if ("{{ target_pos }}".length != 0) {
            element = document.getElementById("{{ target_pos }}");
            alignWithTop = true;
            element.scrollIntoView(alignWithTop);
        }
    </script>
{% endblock %}
